.header {
    margin: 0 auto;
    padding-inline: 2vw;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.header h1 {
    font-weight: 400;
}