.container {
  max-width: min(80vw, 1024px);
  margin: 0 auto;
  padding-block: 12px;
}

.example-row {
  margin-bottom: 78px;
}

.example-row__title {
  text-decoration: none;
  font-size: 2.25em;
  margin-bottom: 26px;
}

.example-row__list {
  list-style: none;
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;
}

@media (min-width: 1240px) {
  .example-row__list {
    justify-content: space-between;
  }
}